<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

  <script>
    $(document).ready(function() {
      $('#example').DataTable({
        "searching": false,
        "scrollY"  : "200px",
        "scrollCollapse": true,
        "paging": false
      });
    });
  </script>

<link href="https://canvasjs.com/assets/css/jquery-ui.1.11.2.min.css" rel="stylesheet" />
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-ui.1.11.2.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script type="text/javascript">
  $(function () {
    var data = {{{chartData}}};
    var chartData =[];
    var profitData = [];
    var profitdateExist = [];
    var profitdatapoints = [];
    var dateExist = [];
    var datapoints = [];
    var temp = 0;
    for (var i = 0; i < data.length; i++) {
      sale_date = data[i].sale_date;
      if (dateExist[sale_date] != undefined){
        count = dateExist[sale_date];
        var pointupdate = true;
        var saleQuantity = 0;
        var profitQuantity = 0;

        var datalength = datapoints[sale_date].length;
        //console.log(datalength);
        if(datalength != undefined){
          //console.log(datalength);
          datalength = datalength - 1;
          saleQuantity = parseInt(datapoints[sale_date][datalength].y);
          profitQuantity = parseInt(profitdatapoints[sale_date][datalength].y);
        }

        for (var point=0 ; point < datapoints[sale_date].length; point++){
           if(datapoints[sale_date][point].x == data[i].sale_hour){
             pointupdate = false;
             datapoints[sale_date][point].y = saleQuantity + parseInt(data[i].quantity);
             profitdatapoints[sale_date][point].y = profitQuantity + parseInt(data[i].profit);
           }
       }

        if(pointupdate){
          datapoints[sale_date].push({
            x:parseInt(data[i].sale_hour),
            y:parseInt(data[i].quantity) + parseInt(saleQuantity)
          });

          profitdatapoints[sale_date].push({
            x:parseInt(data[i].sale_hour),
            y:parseInt(data[i].profit) + profitQuantity
          });
       }
        chartData[count] = {
            type: "line",
            xValueType : "number",
            name: sale_date,
            dataPoints : datapoints[sale_date]
        }

        profitData[count] = {
            type: "line",
            xValueType : "number",
            name: sale_date,
            dataPoints : profitdatapoints[sale_date]
        }
      }else{

        dateExist[sale_date] = temp;
        datapoints[sale_date] = [];
        datapoints[sale_date].push({
          x:parseInt(data[i].sale_hour),
          y:data[i].quantity
        });

        profitdatapoints[sale_date] = [];
        profitdatapoints[sale_date].push({
          x:parseInt(data[i].sale_hour),
          y:data[i].profit
        });

        chartData[temp] = {
          type: "line",
          xValueType : "number",
          name: sale_date,
          dataPoints : [{
            x:parseInt(data[i].sale_hour),
            y:data[i].quantity
          }]
        }

        profitData[temp] = {
          type: "line",
          xValueType : "number",
          name: sale_date,
          dataPoints : [{
            x:parseInt(data[i].sale_hour),
            y:data[i].profit
          }]
        }

        temp = temp + 1;
      }
    }

    console.log("data length" + datapoints)
	   //Better to construct options first and then pass it as a parameter
	    var options1 = {
		      title: {
			         text: "GSM SALES: Daily Chart Sales"
		          },
              animationEnabled: true,
              axisY:{
                title: "Sales"
              },
              data: chartData,
	      };

        var profitOptions = {
  		      title: {
  			         text: "GSM SALES: Daily Chart Profit"
  		          },
                animationEnabled: true,
                axisY:{
                  title: "Profit"
                },
                axisX:{
                  title: "Profit"
                },
                data: profitData,
  	};

  $("#chartContainer1").CanvasJSChart(options1);
  $('#profitchartContainer').CanvasJSChart(profitOptions);
});
</script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
</head>
<body>
{{> header}}
<div class="container">
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-12">
      <h1>Days to Chart </h1>
    </div>
    <div class="col-sm-12">
      <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
           <tr>
             <th>Sale Date</th>
             <th>Hours</th>
             <th>Minutes</th>
             <th>Sum(quantity)</th>
             <th>Sum(projectedprofit)</th>
             <th>Max(purchasedate)</th>
           </tr>
         </thead>
         <tbody>
           {{#each products}}
            <tr class="{{this.Product_Category}}">
              <td>{{this.saledate}}</td>
              <td>{{this.hours}}</td>
              <td>{{this.minutes}}</td>
              <td>{{this.sum_quantity}}</td>
              <td>{{this.sum_projectedprofit}}</td>
              <td>{{this.max_purchasedate}}</td>
            </tr>
           {{/each}}
         </tbody>
     </table>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-6">
        <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
      </div>
      <div class="col-sm-6">
        <div id="profitchartContainer" style="height: 300px; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
