<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script>
  $(document).ready(function() {
    $('#example').DataTable( {
        // "searching": false,
        "scrollY"  : "300px",
        "scrollCollapse": true,
        "paging": false,
        initComplete: function () {
            this.api().columns([1]).every( function () {
                var column = this;
                var select = $('<select id ="business-segment" style="display: none;"><option value="">Amazon</option></select>')
                    .appendTo( $(column.header()) )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );

$(document).ready(function(){
      $("#segment").change(function(){
      var segmentValue = jQuery( "#segment").val();
        console.log("Selected value: " + segmentValue);
        if(segmentValue == "Amazon"){
          segmentValue = "";
        }
        jQuery( "#business-segment" ).val(segmentValue).change();
        var values = $('input[type=checkbox]:checked').map(function(_, el) {
              return $(el).val();
          }).get();
        $('.asin-values').val(values);
    });
});

$(document).ready(function(){
  var values = $('input[type=checkbox]:checked').map(function(_, el) {
        return $(el).val();
    }).get();
  $('.asin-values').val(values);
  console.log(values.length);
});
  // $(document).ready(function() {
  //   $('#example').DataTable( {
  //       "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
  //       "responsive": true,
  //       "scrollX": true
  //     } );
  //   } );
  </script>

  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
</head>
<body>
{{> header}}
<div class="container">
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-12">
      <h1>Days to Chart </h1>
    </div>
    <div class="col-sm-12">
      <form class="form-inline" action="/chart" method="post">
        <div class="form-group">
          <label for="segment">Business Segment:</label>
          <select class="form-control" id="segment" name="segment">
            <option>Amazon</option>
            <option>Private Label</option>
            <option>Wholesale</option>
          </select>
        </div>
        <div class="form-group">
          <label for="asin">ASIN:</label>
          <input type="search" class="form-control" id="asin" name="asin" placeholder="Search">
        </div>
        <div class="form-group">
          <label for="chart">Day To Chart:</label>
          <input type="number" class="form-control" id="chart" name="chart" min="1" max="10" value="5">
        </div>
        <input type="hidden" class="asin-values" name="asin_values" value="" />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="col-sm-12">
      <table id="example" class="display" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Checked</th>
                  <th>Product_Category</th>
                  <th>Asin</th>
                  <th>Title</th>
                  <th>Profit</th>
                </tr>
              </thead>
              <tbody>
                {{#each products}}
                 <tr class="{{this.Product_Category}}">
                   <td><input type="checkbox" name="asin[]" value="{{this.asin}}" checked class="product_asin_check">
                   <td>{{this.Product_Category}}</td>
                   <td>{{this.asin}}</td>
                   <td>{{this.title}}</td>
                   <td>{{this.Profit}}</td>
                 </tr>
                {{/each}}
              </tbody>
          </table>
    </div>
  </div>
</div>
</div>
</body>
</html>
