<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

  <script>
  $(document).ready(function() {
    $('#example').DataTable();
  } );
  </script>

  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-inverse">
   <div class="container-fluid">
             <!-- Brand and toggle get grouped for better mobile display -->
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed navbar-menu-collapse-button hamburger" data-open="false">
                     <span class="icon-bar top"></span>
                     <span class="icon-bar middle"></span>
                     <span class="icon-bar bottom"></span>
                 </button>
                 <a class="navbar-brand" href="http://www.mobiles.clicknexpert.com">
                    ClicknExpert
                 </a>
                 <button class="navbar-toggle pull-right search-header-btn-icon" data-toggle="collapse" data-target="#search-form-collapse" aria-expanded="false"><i class="fa fa-search"></i></button>
             </div>
                         <!-- Collect the nav links, forms, and other content for toggling -->
   </div>
  </nav>
<div class="container">
<div class="container-fluid">
  <div class="row content">

    <div class="col-sm-12">
      <form class="form-inline" action="">
        <div class="form-group">
          <label for="segment">Business Segment:</label>
          <select class="form-control" id="segment">
            <option>Amazon</option>
            <option>Private Label</option>
            <option>Wholesale</option>
          </select>
        </div>
        <div class="form-group">
          <label for="asin">ASIN:</label>
          <input type="search" class="form-control" id="asin" placeholder="Search">
        </div>
        <div class="form-group">
          <label for="chart">Day To Chart:</label>
          <input type="number" class="form-control" id="chart" placeholder="Day TO Chart">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>

    <div class="col-sm-12">
      <!-- <form method="Post" action="asin_chart">
        <select name="product_category">
            <option value="amazon">Amazon</option>
        </select>
        <button type="submit" value="Get Chart">
      </form> -->

      <table id="example" class="display" cellspacing="0" width="100%">
       <tr>
         <th>Checked</th>
         <th>Product_Category</th>
         <th>asin</th>
         <th>title</th>
         <th>Profit</th>
       </tr>
       {{#each products}}
        <tr class="{{this.Product_Category}}">
          <td><input type="checkbox" name="asin[]" value="{{this.asin}}" checked class="product_asin_check">
          <td>{{this.Product_Category}}</td>
          <td>{{this.asin}}</td>
          <td>{{this.title}}</td>
          <td>{{this.Profit}}</td>
        </tr>
       {{/each}}
     </table>

    </div>
  </div>
</div>
</div>
</body>
</html>
