<!DOCTYPE html>
<html lang="en">
<head>

  <title>GSM Sales</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>

  <link rel="stylesheet" href="css/searchterms_custom.css">
  <script type="text/javascript" src="js/searchterms_custom.js"></script>
</head>
<body>
{{> header}}
<div class="container">
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-12 text-center">
      <h3>Search Terms</h3>
      <hr>
    </div>
    <div class="col-sm-12">
      <form class="form-inline" action="" method="">
        <div class="form-group">
          <input type="search" class="form-control input-sm" id="add-search-term" name="search-term" placeholder="Add Search Term">
        </div>
        <button type="button" id="addSearch" class="btn btn-primary btn-sm">Add Search Term</button>
      </form>
    </div>
    <div class="col-sm-12">
      <table id="search-term-table" class="display" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Search Term</th>
                  <th>Average Title Score</th>
                  <th>Max Title Score</th>
                  <th>Ideal Max Title Score</th>
                  <th>Ideal Max Title Score Percent</th>
                  <th>Min Title Score</th>
                  <th>Average Title Score 4 to 6</th>
                  <th>Average Title Score 4 to 6 Percent</th>
                  <th>Min Price Top 5</th>
                  <th>Average Sales Top 5</th>
                  <th>Monthly Profits</th>
                  <th>Sourcing Price</th>
                  <th>Sourcing Price Median Price</th>
                  <th>Median Price</th>
                  <th>FBA Fees</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {{#each dataObj}}
                 <tr>
                   <td>{{checkValue this.searchterm}}</td>
                   <td>{{checkValue this.avgtitlescore}}</td>
                   <td>{{checkValue this.maxtitlescore}}</td>
                   <td>{{checkValue this.idealmaxtitlescore}}</td>
                   <td>{{checkValue this.idealmaxtitlescorepercent}} %</td>
                   <td>{{checkValue this.mintitlescore}}</td>
                   <td>{{checkValue this.avgtitlescore4to6}}</td>
                   <td>{{checkValue this.avgtitlescore4to6percent}} %</td>
                   <td>$ {{checkValue this.minpricetop5}}</td>
                   <td>{{checkValue this.avgsalestop5}}</td>
                   <td>$ {{checkValue this.estimatedmonthlyprofits}}</td>
                   <td>$ {{checkValue this.estimatedsourcingprice}}</td>
                   <td>$ {{checkValue this.estimatedsourcingpricemedianprice}}</td>
                   <td>$ {{checkValue this.medianprice}}</td>
                   <td>$ {{checkValue this.fbafees}}</td>
                   <td>
                     <form class="form-inline" action="/searchtermsdetails" method="post">
                      <div class="form-group">
                      <input type="hidden" class="asin-values" name="search_term_id" value="{{this.id}}" />
                      <button type="submit" class="btn btn-primary btn-xs">Details</button>
                      <button type="button" class="btn btn-primary btn-xs">Purchase</button>
                     </form>
                   </td>
                 </tr>
                {{/each}}
              </tbody>
          </table>
    </div>
  </div>
</div>
</div>
</body>
</html>
