<!DOCTYPE html>
<html lang="en">
<head>

  <title>GSM Sales</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>

  <link rel="stylesheet" href="css/search_details_custom.css">
  <script type="text/javascript" src="js/search_details_custom.js"></script>
</head>
<body>
{{> header}}
<div class="container">
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-12 text-center">
      <h3>Search Term Details</h3>
      <hr>
    </div>
    <div class="col-sm-12">
      <a href="/search" class="btn btn-primary btn-sm" role="button">Return to Search Terms</a>
    </div>
    <div class="col-sm-12">
      <label for="search-term" class="search-term-label">Search Term : </label><label id="search-term-label" for="search-term" class="search-term-label">{{dataObj.searchterm}}</label>
    </div>
    <div class="col-sm-12 text-center">
      <div class="col-sm-3">
        <h5>Word Scores</h5>
        <hr>
        <table id="word-scores" class="display" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Word Rank</th>
                    <th>Word</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each wordScores}}
                  <tr>
                    <td>{{@index}}</td>
                    <td>{{getWordScores this @index 'word'}}</td>
                    <td>{{getWordScores this @index 'score'}}</td>
                  </tr>
                  {{/each}}
                </tbody>
            </table>
      </div>
      <div class="col-sm-9">
        <h5>ASIN Details</h5>
        <hr>
        <table id="asin-details" class="display" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>ASIN</th>
                    <th>Title Score</th>
                    <th>Price</th>
                    <th>Monthly Sales</th>
                    <th>Monthly Profit</th>
                    <th>Sourcing Price</th>
                    <th>FBA Fees</th>
                    <th>ASIN Title Search Term Percentage</th>
                    <th>ASIN Title Search Term Point Percent</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each asinDetails}}
                  <tr>
                    <td><a href="https://www.amazon.com/dp/{{getAsinDetails this @index 'asin'}}" class="asin-label-text" role="">{{getAsinDetails this @index 'asin'}}</a></td>
                    <td>{{getAsinDetails this @index 'titlescore'}}</td>
                    <td>$ {{getAsinDetails this @index 'price'}}</td>
                    <td>{{getAsinDetails this @index 'salesestimate'}}</td>
                    <td>$ {{getAsinDetails this @index 'profitestimate'}}</td>
                    <td>$ {{getAsinDetails this @index 'sourcingprice'}}</td>
                    <td>$ {{getAsinDetails this @index 'fbafees'}}</td>
                    <td>{{getAsinDetails this @index 'titlesearchtermpercentage'}} %</td>
                    <td>{{getAsinDetails this @index 'titlesearchtermpointspercent'}} %</td>
                    <td><button type="button" class="listing-detail btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">Listing Details</button></td>
                  </tr>
                  {{/each}}
                </tbody>
            </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Listing Details</h4>
        </div>
        <div class="modal-body" style="height:300px">
          <div class="col-sm-12">
            <label  for="asin" class="asin-detail-label">Asin : </label><label id="asin-detail-label" for="asin" class="asin-detail-label"></label>
          </div>
          <div class="col-sm-12">
            <table id="listing-table" class="display" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Question & Answer</th>
                        <th>Bullet Points</th>
                        <th>Description Top Positive Review</th>
                        <th>Top critical Review</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
</div>
</body>
</html>
